* {
    margin: 0px;
    padding: 0px
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: rgba(255, 255, 255, 0.7);

    .container {
        max-width: 1300px;
        margin: auto;
        padding: 20px;

        .navbar {
            display: flex;
            justify-content: flex-end;
            gap: 20px;
            align-items: center;

            a {
                text-decoration: none;
                color: #555;

                img {
                    width: 25px;
                }
            }
        }

        .headerContant {
            margin-top: 70px;
            display: flex;
            align-items: center;

            .headerContentItems {
                flex: 1;

                h1 {
                    font-size: 50px;
                    line-height: 60px;
                    margin: 25px 0px;
                }

                p {
                    color: #555;
                }

                img {
                    width: 100%;
                    padding: auto;
                }
            }
        }
    }
}

.categories {
    margin-top: 70px 0px;

    .container {
        max-width: 1080px;
        margin: auto;
        padding: 0px 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        img {
            flex-basis: 30%;
            min-width: 250px;
            margin-bottom: 25px;
        }
    }
}

.featured-product {
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;

    h2 {
        color: #555;
        text-align: center;
        line-height: 60px;
    }

    .customLineContainer {
        width: 100px;
        height: 5px;
        background-color: orangered;
        align-self: center;
        margin-bottom: 80px;
        border-radius: 20px;
    }

    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .product-card {
            display: flex;
            flex-direction: column;
            min-width: 200px;
            flex-basis: calc(25% - 20px);
            margin-bottom: 50px;
            padding: 10px;
            cursor: pointer;
            transition: transform .5s;

            .product-image {
                border-radius: 18px;
            }

            .product-title {
                color: #555;
                margin: 0px 12px;
            }

            .product-star {
                margin: 0px 12px;
            }

            .product-pricing {
                color: #555;
                font-size: 14px;
                margin: 0px 12px;
            }
        }

        .product-card:hover {
            transform: translateY(-5px);
        }
    }
}

.exclusive {
    max-width: 1080px;
    display: flex;
    justify-self: center;
    margin-top: 50px;

    .exclusive-product {
        flex: 1;
        padding: 50px;

        img {
            width: 100%;
            height: 100%;
        }

        p {
            color: #555;
            margin-bottom: 25px;
        }

        h1 {
            margin-bottom: 25px;
        }

        .descri {
            font-size: small;
            font-family: cursive;
        }

        .buy-button {
            display: flex;
            justify-self: center;
            justify-content: center;
            width: 150px;
            height: 50px;
            padding-top: 13.5px;
            background-color: orangered;
            border-radius: 50px;
            border: none;
            font-size: medium;
            margin-top: 80px;
            color: hsla(0, 0%, 100%, 0.896);
            cursor: pointer;
        }

        .buy-button:hover {
            background-color: rgb(211, 60, 5);
            color: white;
        }
    }
}

.testimonials {
    max-width: 1080px;
    margin-top: 100px;
    display: flex;
    justify-self: center;

    .testimonials-container {
        display: flex;
        justify-content: space-around;
        justify-items: center;
        flex-wrap: wrap;

        .testimonials-card {
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            min-width: 250px;
            flex-basis: 30%;
            margin-bottom: 30px;
            border-radius: 30px;
            cursor: pointer;
            transition: transform 0.5s;
            padding: 10px;
            align-items: center;
            text-align: center;
            gap: 30px;

            .user-rate {
                img {
                    border-radius: 5px;
                }

                i {
                    color: orangered;
                    font-size: 30px;
                }
            }

            .user-picture {
                width: 100px;
                border-radius: 50%;
            }
        }

        .testimonials-card:hover {
            transform: translateY(-8px);
            background-color: rgb(246, 241, 241);
        }
    }
}

.brands {
    margin-top: 100px;
    max-width: 1080px;
    display: flex;
    justify-self: center;
    margin-bottom: 30px;

    .brands-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-items: center;

        img {
            filter: grayscale(100%);
            transition: 0.2s;
            cursor: pointer;
        }

        img:hover {
            filter: grayscale(0%)
        }
    }
}

.footer {
    background: #222831;
    color: #eeeeee;
    font-size: 14px;
    padding: 60px 0 20px;

    .footerInnerContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 1300px;
        margin: auto;
        padding: 0px 25px;

        .footerColumn {
            min-width: 250px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
        }

        .Column1 {
            flex-basis: 30%;

            h3 {
                color: #ff523b;
                margin-bottom: 20px;
                font-weight: 600;

            }

            p {
                color: #eeeeee;
            }

            .AppStore {
                display: flex;
                align-items: center;
                gap: 4px;
                margin-top: 20px;

                img {
                    width: 140px;
                    margin: 5px 0px;
                    cursor: pointer;
                }
            }
        }

        .Column2 {
            flex: 1;
            align-items: center;

            h3 {
                color: #ff523b;
                margin-bottom: 20px;
                font-weight: 600;
            }

            p {
                color: #eeeeee;
                margin-bottom: 10px;
                cursor: pointer;
                transition: color 0.3s ease;
            }
        }

        .Column3 {
            flex-basis: 12%;
            align-items: center;

            h3 {
                color: #ff523b;
                margin-bottom: 20px;
                font-weight: 600;
            }

            p {
                color: #eeeeee;
                margin-bottom: 10px;
                cursor: pointer;
                transition: color 0.3s ease;
            }
        }

        .Column3 p:hover,
        .Column2 p:hover {
            color: #ff523b;
        }
    }
}